/* signup.css */

body {
  font-family: Arial, sans-serif;
  background-color: #fff9e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: #fff9e6;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #f2994a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
}

form button:hover {
  background-color: #c65102;
}

.password-field {
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 35%;
  right: 12px;
  transform: translateY(-50%);
  font-size: 13px;
  color: #aaa;
  pointer-events: none;
}


.note {
  font-size: 12px;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.4;
  text-align: center;
}

.back-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}
